@{
    ViewData["Title"] = "About";
}
<h1>Get to know Joel, the man behind the app</h1>
<br />
<br />

<p>
    Welcome to the about page dedicated to Joel Hilton, a true film aficionado with a passion for storytelling through the 
    lens of cinema. Joel has carved his niche in the world of film with his profound love for the medium. Graduating from 
    Brigham Young University with a minor in Film Studies, Joel's dedication to the art of filmmaking shines through in every 
    facet of his work.
</p>
<p>
    Not content with merely watching films, Joel has immersed himself in various roles within the industry. As a contracted movie 
    reviewer for ClearPlay, he provides insightful critiques that guide audiences towards cinematic gems. Additionally, Joel shares 
    his love for films and pop culture weekly through <a href="https://baconsale.com/">his podcast, Baconsale</a>, where he and his co-hosts dissect movies weekly
    with humor and depth.
</p>
<p>
    Joel's movie collection is not just a random assortment of titles; it's a curated selection of cinematic masterpieces. Only films 
    that pass his discerning eye earn a place on his shelves, ensuring that each addition enriches his collection. To manage this 
    ever-expanding trove of cinematic wonders, Joel sought a solution that goes beyond a simple spreadsheet. Thus, the idea of a web 
    app was born, enabling him to effortlessly track, organize, and share his collection with fellow cinephiles.

</p>
<br />
<a href="https://baconsale.com/"><img src="~/img/BaconsaleKate.jpg" height="600px" /></a>
<br />
<i>The hosts of Baconsale, including Joel (right) meet Kate Beckinsale, the inspiration for the podcast's unique name.</i>
<br /><br />
<p>
    To get to know Joel beyond his love for film, explore his other endeavors. Catch him on stage at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>, where he
    showcases his comedic talent regularly. And don't forget to visit <a href="https://baconsale.com/">the Baconsale website</a>, where Joel and his cohorts delve into
    the world of pop culture and cinematic entertainment. Whether on screen or behind the mic, Joel Hilton continues to enrich the 
    world of cinema with his boundless enthusiasm and expertise.
</p>