@{
    ViewData["Title"] = "Thanks!";
}

<div class="text-center">
    <h3 class="display-4">Thanks for your contribution to the <b>Joel Hilton Film Collection.</b></h3>
    <p><i>Joel Hilton, proprietor</i></p>
</div>
