@{
    ViewData["Title"] = "JHFC - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the <b>Joel Hilton Film Collection.</b></h1>
    <p><i>Joel Hilton, proprietor</i></p>
    <br />
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>
